<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <!--  <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4,initial-scale=0.8,target-densitydpi=low-dpi"/> -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/in-line.css' %}">
    <link rel="stylesheet" href="{% static 'css/xadmin.css' %}">
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css"/>
    <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
    <!--        <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">-->
    <script src="{% static 'lib/layui/layui.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.2.1-rc1/echarts.min.js"></script>
    <!--        <script src="https://www.layuicdn.com/layui/layui.js"></script>-->
    <script>
            // var Info = {
            //     trend:{{ trend|safe }},
            //     topic: {{ topic_data|safe }},
            // };
            var time = 1

    </script>

</head>

<body>


<div class="x-body layui-anim layui-anim-up">
    <blockquote class="layui-elem-quote">欢迎咨询师：
        <!-- <span class="x-red"></span>！当前时间:2020-02-23 20:50:53 -->
    </blockquote>
    <input type= "hidden" id= "hid1"/>
    <form class="layui-form">
            {% csrf_token %}
       
            <div class="layui-form-item">
                <label class="layui-form-label">日期选择</label>
                <input type="text" name="start_time" required lay-verify="required" placeholder="开始时间"
                       autocomplete="off" class="layui-input" id="test1" style="width:100px;display:inline;">
                <input type="text" name="end_time" required lay-verify="required" placeholder="结束时间"
                       autocomplete="off" class="layui-input" id="test2" style="width:100px;display:inline;">
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="button" class="layui-btn" lay-submit="" value='立即提交' lay-filter="demo1" style="width:100px;display:inline;" onclick="btn_clik()"></input>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
    </form>

    <fieldset class="layui-elem-field">
        <legend>信息展示</legend>
        <br/>
        <div id="polarity" style="width: 1200px;height:400px;"></div>
        <div id="topic_pie" style="width: 30%;height:400px;float:left;"></div>
        <div id='wordCloud' style="width: 50%;height:400px;float:left;" onshow="word_cloud_path">
            关键词展示
        </div>  


    </fieldset>

    <!-- </script> -->
       
    </div>
    <script>
     layui.use('form', function(){
     var form = layui.form;
     form.render('select','aihao');
     //各种基于事件的操作，下面会有进一步介绍
     //form.render('组件名','lay-filter名')
     });
    </script>


    <script>
        layui.use('laydate', function(){
          var laydate = layui.laydate;

          //执行一个laydate实例
          laydate.render({
            elem: '#test1' //指定元素
          });
        });

    </script>
    <script type="text/javascript">
        var start_time = 1               //start_time = 1 ，end_time = 1如果没有选择默认为1，后端监测为1，就去取默认时间的数据
        var end_time = 1
        
        function assign_trend() {          //默认的三张图的展示
            console.log('okokok')
                
            var WarningData = [];
            var TopicInfo = [];
            var myChart = echarts.init(document.getElementById('polarity'));
            myChart.setOption({
                title: {
                                text: '心理健康趋势图'
                            },
                            tooltip: {},
                            
                            xAxis: {
                                data: []   //默认是空的，之后会从后端取数据
                            },
                            yAxis: {
                                type: 'value'
                            },

                            series: [{          //每一个x轴对应的Y值需要存在series的data[]里面，实现的效果为：鼠标放在线上某点，会出现改点的健康值
                                name: '情感得分',

                                itemStyle : {
                                                normal : {
                                                    color:'#FF0059',
                                                    lineStyle:{
                                                        color:'#FF0059'
                                                    }
                                                }
                                            },
                                data: [],
                                type: 'line',
                                // symbol:'none',
                                // smooth: true,          //折线平滑处理
                                label: '情感得分',
                                
                            }]

            });
            myChart.showLoading();         //表示正在加载
            $.ajax({                       //去后端取数据
                    type: "get",
                    url: 'default_trend_data',     //调用后端这个default_trend_data（）去数据库中取数据
                    data: {'time1':start_time, 'time2':end_time},  //指定时间范围
                    success: function(data) {
                        var TrendInfo = data['trend_data'];
                        var WarningData = data['warning_data'];
                        var TopicInfo = data['topic_data'];

                        // console.log(WarningData)
                        // console.log(TopicInfo)

                        // 使用刚指定的配置项和数据显示图表。
                        myChart.hideLoading();      //隐藏之前正在加载的图标
                        myChart.setOption({         //往趋势图表里填数据
                            xAxis: {
                                type: 'time'
                            },

                            series: [{
                                name: '情感得分',

                                itemStyle : {
                                                normal : {

                                                    color:'#FF0059',
                                                    lineStyle:{
                                                        color:'#FF0059'
                                                    },

                                                }
                                            },
                                data: TrendInfo,
                                type: 'line',
                                label: '情感得分',
                                // smooth: true,
                                <!--markPoint:{-->             //预警图标展示
                                    <!--data: WarningData,-->
                                    <!--itemStyle:{-->
                                        <!--color: '#4587E7',-->
                                    <!--}-->
                                <!--}-->
                            }]
                        })
                        var myChart1 = echarts.init(document.getElementById('topic_pie'));      //主题饼图的图表
                        myChart1.setOption({
                                    title: {
                                        text: '主题分布饼图 & 关键词分布'
                                    },
                                    series : [
                                        {
                                            name: '主题分类',
                                            type: 'pie',    // 设置图表类型为饼图
                                            radius: '55%',  // 饼图的半径，外半径为可视区尺寸（容器高宽中较小一项）的 55% 长度。
                                            data:[          // 数据数组，name 为数据项名称，value 为数据项值
                                                {value:TopicInfo['职业发展'], name:'职业发展'},
                                                {value:TopicInfo['学业方面'], name:'学业方面'},
                                                {value:TopicInfo['心理方面'], name:'心理方面'},
                                                {value:TopicInfo['恋爱关系'], name:'恋爱关系'},
                                                {value:TopicInfo['其他'], name:'其他'}
                                            ]
                                        }
                                    ]
                                })


                        var params = 0
                        myChart.on('click', function (params) {   //监听鼠标放在趋势图上的操作
                            // body...
                            params = params.data.value[0]       //监听到了就去取那一点的值
                            
                        })


                        
                        $.ajax({
                            type: "get",
                            url: 'gen_wordcloud_pic',         // gen_wordcloud_pic（）返回生成的关键词云图的地址
                            data: {'time1':start_time, 'time2':end_time},  //返回给后端指定的时间范围
                            // async: false,
                            success: function(data) {
                                adres = data['src']        //获取关键词词云地址
                                document.getElementById("wordCloud").innerHTML='<img src="'+adres+'">'; //展示关键词词云图
                            }

                        })
                    }
                });
            
        };
     
        window.onload = assign_trend;      //页面一加载就调用assign_trend（）函数，就显示三张图
        
    </script>

    <script type="text/javascript">
       
        btn_clik = function() {      //鼠标点击提交之后，指定了时间范围后三张图的展示
            console.log('ok')
            // body...
            var start_time = document.getElementById('test1').value;
            var end_time = document.getElementById('test2').value;
            var myChart = echarts.init(document.getElementById('polarity'));
            
            $.ajax({
                type: "get",
                url: 'form_trend_data',
                data: {'time1': start_time, 'time2': end_time},
                // async: false,
                success: function(data) {
                    TrendInfo = data['trend_data'];
                    WarningData = data['warning_data'];
                    TopicInfo = data['topic_data'];

                    myChart.setOption({
                        title: {
                                text: '心理健康趋势图'
                        },
                        xAxis: {
                                type: 'time'
                        },
                        yAxis: {
                            type: 'value'
                        },

                        series: [{
                                name: '情感得分',

                                itemStyle : {
                                                normal : {
                                                    color:'#FF0059',
                                                    lineStyle:{
                                                        color:'#FF0059'
                                                    }
                                                }
                                            },
                                data: TrendInfo,
                                type: 'line',
                                label: '情感得分',
                                // smooth: true,
                                <!--markPoint:{-->
                                    <!--data: WarningData,-->        //预警图标的展示
                                    <!--itemStyle:{-->
                                        <!--color: '#4587E7',-->
                                    <!--}-->
                                <!--}-->
                            }]

                    })
                    // myChart.setOption(option);
                    console.log(TopicInfo)
                    var myChart1 = echarts.init(document.getElementById('topic_pie'));
                    myChart1.setOption({
                                    title: {
                                        text: '话题分布饼图 & 关键词分布'
                                    },
                                    series : [
                                        {
                                            name: '话题分类',
                                            type: 'pie',    // 设置图表类型为饼图
                                            radius: '55%',  // 饼图的半径，外半径为可视区尺寸（容器高宽中较小一项）的 55% 长度。
                                            data:[          // 数据数组，name 为数据项名称，value 为数据项值
                                                {value:TopicInfo['职业发展'], name:'职业发展'},
                                                {value:TopicInfo['学业方面'], name:'学业方面'},
                                                {value:TopicInfo['心理方面'], name:'心理方面'},
                                                {value:TopicInfo['恋爱关系'], name:'恋爱关系'},
                                                {value:TopicInfo['其他'], name:'其他'}
                                            ]
                                        }
                                    ]
                                })
                    var params = 0
                    myChart.on('click', function (params) {
                        // body...
                        params = params.data.value[0]
                        
                    })

                    $.ajax({
                            type: "get",
                            url: 'gen_wordcloud_pic',
                            data: {'time1':start_time, 'time2':end_time},
                            // async: false
                            success: function(data) {
                                adres = data['src']

                                document.getElementById("wordCloud").innerHTML='<img src="'+adres+'">';
                            }
                    })
                }
            })
        }
    </script>

    <script>
        layui.use('laydate', function(){  //日期选择组件
          var laydate = layui.laydate;

          //执行一个laydate实例
          laydate.render({
            elem: '#test2' //指定元素
          });
        });

    </script>
    
</body>
</html>